* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', 'sans-serif';
}

body {  
  background: rgb(59, 56, 56);
}

.home,
.services,
.products,
.sign-up,
.cars {
    display: flex;
    height: 90vh;
    align-items: flex-start;
    justify-content: center;
    font-size: 3rem;
}

.services {
    background-image: url('/Users/brandontan/Desktop/car-site/public/car-pics/bugatti.webp'); 
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-size: 100px;
  }

  .products {
    background-image: url('/Users/brandontan/Desktop/car-site/public/car-pics/mclaren.jpeg'); 
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-size: 100px;
  }

  .sign-up {
    background-image: url('/Users/brandontan/Desktop/car-site/public/car-pics/lambo2.jpeg'); 
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-size: 100px;
  }

  .cars {
    background-image: url('/Users/brandontan/Desktop/car-site/public/car-pics/supercar.png'); 
    background-position: center;
    background-size: cover;
    color: rgb(49, 47, 47);
    font-size: 100px;
    align-items: center;
  }